---
---
<!DOCTYPE html>
<html lang="en">

	<head>
		{% include_relative resources.html %}
		<!--<title>For a Better You, Today - The Social</title>-->
		<!--<title>Be Better, Feel Better - The Social</title>-->
		<title>Better You, Better Socials, Better Now - The Social</title>
		<link rel="stylesheet" type="text/css" href="css/homepage.css"/>
	</head>
	
	<body>
		{% include header.html %}
		
		<div class="vid_container">
			<video preload="auto" poster="img/homepage/helping_hand.jpg" autoplay muted loop data-video="0" class="vid">
				<source src="videos/index_vid.mp4" type="video/mp4">
				<source src="https://tr-assets.s3.amazonaws.com/WH_2018_B.mp4" type="video/mp4">
			</video>
			<div class="vid_content">
				<h1>Reinvent Your Life</h1>
				<p>Close the Gap between where you are Today - And where you can be</p>
				<a href="events/" class="a_deco">
					<span class="btn vid_btn">Means Business</span>
				</a>
			</div>
		</div>
		
		<div class="questions_container">
			<div class="row">
				<div class="col-50">
					<div class="left_img"></div>
					<div class="questions_content">
						<h3>Do you want to Improve your Personal Life?</h3>
						<p>
							Are you truly happy and successful, or are there parts of you that are unfulfilled? The extraordinary life you want is within your grasp, but you need clarity and focus to achieve it.
						</p>
						<a href="articles/" class="a_deco">
							<span class="btn learn_more_btn">Learn More</span>
						</a>
					</div>
				</div>
				<div class="col-50">
					<div class="right_img"></div>
					<div class="questions_content">
						<h3>Do you want to Live your Life your Way?</h3>
						<p>
							Get the insight, strategies, and methods you need to retake control of your life. Remove yourself from all the distractions and feel what it's like to live again.
						</p>
						<a href="articles/" class="a_deco">
							<span class="btn learn_more_btn">Learn More</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="events_type_container">
			<div class="events_type_wrapper">
				<div class="events_type_img"></div>
				<div class="events_type_content">
					<h3>
						Experience
						<span class="logo_name_in_text">
							&nbsp;T h e&nbsp;&nbsp; S o c i a l&nbsp;
						</span>
						Live
					</h3>
					<p>
						<b>Free Tour:</b>
						Fill your head with so many bleeding edge "TheSocial in house secrets" on success with life, social dynamics, and self actualization that you left your head spinning in disbelief.
					</p>
					
					<p>
						<b>Seminars:</b>
						Obsessed 10 year veteran of Social Dynamics spends entire year filming himself interacting with people Live with High Definition hidden camera... Then travels the world revealing it to stunned audiences - With Live Commentary & Interactive Exercises to Rapidly Empower You with the SAME Level of Results.
					</p>
					
					<p>
						<b>Bootcamp:</b>
						Get massive amounts of experience under your belt, and to have you get out of your comfort zone and get good with handling people within three days. Clients walk in on the first day with whatever skill level they have (novice or advanced, it doesn't matter), and walk out on the third day with tremendous gains.
					</p>
					<div class="events_btn_container">
						<a href="events/" class="a_deco">
							<span class="btn events_btn">See Schedule Options</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="products_container">
			<div class="products_wrapper">
				<div class="products_img"></div>
				<div class="products_content">
					<h3>
						Learn at Home with
						<span class="logo_name_in_text">
							&nbsp;T h e&nbsp;&nbsp; S o c i a l&nbsp;
						</span>
						Products
					</h3>
					<p>
						From in field footage, to behind the scences of recorded seminars, to online social dynamics education, group coaching, and so much more, you can learn it from home with the various <span class="logo_name_in_text">&nbsp;T h e&nbsp;&nbsp; S o c i a l&nbsp;</span> Products.
					</p>
					<div class="products_btn_container">
						<a href="store/" class="a_deco">
							<span class="btn products_btn">Visit Our Store</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="about_us_transition_container">
			<h1>
				About Us
			</h1>
		</div>
		
		<div class="about_container about_bryan">
			<div class="col-25">
				<div class="about_img img_bryan"></div>
			</div>
			<div class="col-65">
				<div class="about_content">
					<h3>About Bryan</h3>
					<h4><i>World Authority on Social Dynamics psychology</i></h4>
					<p>
						Bryan Shemih is the Founder and Executive Producer for <span class="logo_name_in_text">&nbsp;T h e&nbsp;&nbsp; S o c i a l</span>. He has been the creative mastermind and main public speaker at hundreds of <span class="logo_name_in_text">&nbsp;T h e&nbsp;&nbsp; S o c i a l&nbsp;</span> seminars worldwide. The foundational principles, and lessons of <span class="logo_name_in_text">&nbsp;T h e&nbsp;&nbsp; S o c i a l&nbsp;</span> centers around advanced content Bryan created while traveling the world and analyzing male-and-female interactions.
					</p>
				</div>
			</div>
		</div>
		
		<div class="about_container about_james">
			<div class="col-25">
				<div class="about_img img_james"></div>
			</div>
			<div class="col-65">
				<div class="about_content">
					<h3>About James</h3>
					<h4><i>Senior Executive Coach</i></h4>
					<p>
						James Everhard is a super-star within <span class="logo_name_in_text">&nbsp;T h e&nbsp;&nbsp; S o c i a l</span>. James was traveling around the world with Bryan while building up his skillset as an amazing instructor. He has an amazing repertoire of stories meeting intriguing people and has a gift for teaching self development and lifestyle enhancement as well. His teachings focus on the knowledge on how to become the man you have always wanted to be.
					</p>
				</div>
			</div>
		</div>
		
		{% include_relative js/nav_tab_js.html %}
		{% include header_js.html %}
		{% include footer.html %}
	</body>
</html>