<div class="select_container">
	<select onchange="window.location.href=this.value">
		<option value="#">Filter by Category</option>
		<option value="http://letsdie10.github.io/thesocial/articles/">No category</option>
		<option value="http://letsdie10.github.io/thesocial/articles/career-business/coming-soon/">Career & Business</option>
		<option value="http://letsdie10.github.io/thesocial/articles/health-vitality/coming-soon/">Health & Vitality</option>
		<option value="http://letsdie10.github.io/thesocial/articles/leadership-impact/" selected="selected">Leadership & Impact</option>
		<option value="http://letsdie10.github.io/thesocial/articles/love-relationships/">Love & Relationships</option>
		<option value="http://letsdie10.github.io/thesocial/articles/mind-meaning/">Mind & Meaning</option>
		<option value="http://letsdie10.github.io/thesocial/articles/productivity-performance/coming-soon/">Productivity & Performance</option>
		<option value="http://letsdie10.github.io/thesocial/articles/wealth-lifestyle/coming-soon/">Weath & Lifestyle</option>
	</select>
</div>