<div class="select_container">
	<select onchange="window.location.href=this.value">
		<option value="#">Filter by Category</option>
		<option value="http://bryansng.github.io/the-social/articles/">No category</option>
		<option value="http://bryansng.github.io/the-social/articles/career-business/coming-soon/">Career & Business</option>
		<option value="http://bryansng.github.io/the-social/articles/health-vitality/coming-soon/">Health & Vitality</option>
		<option value="http://bryansng.github.io/the-social/articles/leadership-impact/">Leadership & Impact</option>
		<option value="http://bryansng.github.io/the-social/articles/love-relationships/">Love & Relationships</option>
		<option value="http://bryansng.github.io/the-social/articles/mind-meaning/">Mind & Meaning</option>
		<option value="http://bryansng.github.io/the-social/articles/productivity-performance/coming-soon/">Productivity & Performance</option>
		<option value="http://bryansng.github.io/the-social/articles/wealth-lifestyle/coming-soon/">Weath & Lifestyle</option>
	</select>
</div>