<div class="intro_container">
	<div class="intro_wrapper">
		<div class="intro_img"></div>
		<div class="intro_content">
			<h1>
				T H E&nbsp;&nbsp; S O C I A L's Blog
			</h1>
			<p>
				At your core, you know the skills and mindset necessary to make you successful, happy and maintain a peaceful state of mind. However, there are times where you may find difficulty in applying these tactics into your daily life. No one is perfect, you can't always know what's the best thing to do in every situation, but with such knowledge, you can continually work to be your best possible self.
			</p>
		</div>
	</div>
</div>