---
---
<!DOCTYPE html>
<html lang="en">
	
	<head>
		{% include_relative resources.html %}
		<title>Book List - The Social</title>
		<link rel="stylesheet" type="text/css" href="css/booklist.css"/>
	</head>
	
	<body>
		{% include header.html %}
		
		<div class="intro_container">
			<div class="intro_wrapper">
				<div class="intro_img"></div>
				<div class="intro_content">
					<h1>
						T H E&nbsp;&nbsp; S O C I A L's Book Recommendations
					</h1>
					<blockquote>
						<span class="quote_container">&ldquo;</span>
						I think it is insane that most people don't read books... people don't believe that millions of dollars of wisdoms could be contained in a $12 soft-cover book. You're wrong. People who have been through a lifetime of struggle and lessons offer the very best pearls of what they learned and will sit down for a year or two with other writers to help them to jot that down so that in a week, you can learn what they learned.
						<span class="quote_container">&rdquo;</span>
					</blockquote>
					<p>
						<cite>-Owen Cook in &ldquo;The Truth About Success 2 - Execution, Learning From Failure, Not Being a Lazy Slug&rdquo;</cite>
					</p>
				</div>
			</div>
		</div>
		
		<div class="transition_container"></div>
		
		<div class="content">
			<div class="row">
				<div class="book_container">
					<div class="img_column">
						<a href="https://www.amazon.com/How-Win-Friends-Influence-People/dp/0671027034">
							<img src="img/how-to-win-friends-cover.jpg" alt="How to Win Friends and Influence People Cover Page"/>
						</a>
					</div>
					<div class="text_column">
						<a href="https://www.amazon.com/How-Win-Friends-Influence-People/dp/0671027034" class="a_deco">
							<h3>How to Win Friends and Influence People</h3>
						</a>
						<h4><i>by Dale Carnegie</i></h4>
						<p>
							Leaders like Warren Buffet swear by <cite>How to Win Friends And Influence People</cite> by Dale Carnegie, and the lessons of Carnegie have stood the test of time. They are classic principles in the best sense, and the fundamentals of this book are still applicable generations later. These principles do not revolve around trends or fads, they are just the building blocks of social intelligence, and how practicing good social skills can improve your life.
						</p>
					</div>
				</div>
				<div class="book_container">
					<div class="img_column">
						<a href="https://www.amazon.com/Elon-Musk-SpaceX-Fantastic-Future/dp/006230125X">
							<img src="img/elon-musk-biography.jpg" alt="Elon Musk - Tesla, SpaceX, and the Quest for a Fantastic Future Cover Page"/>
						</a>
					</div>
					<div class="text_column">
						<a href="https://www.amazon.com/Elon-Musk-SpaceX-Fantastic-Future/dp/006230125X" class="a_deco">
							<h3>Elon Musk - Tesla, SpaceX, and the Quest for a Fantastic Future</h3>
						</a>
						<h4><i>by Ashlee Vance</i></h4>
						<p>
							Often compared to visionaries Thomas Edison and Steve Jobs, the 44-year-old Musk has harnessed, expanded and revolutionized the fields of electric cars, space exploration and solar energy. Based on extensive research and interviews with Musk, his colleagues, friends and family, Vance's authorized biography examines his life and career of one of today's most interesting and innovative industrialists.
						</p>
						<!--
						https://www.washingtonpost.com/opinions/entrepreneur-of-tomorrow/2015/07/01/40bb8940-19c6-11e5-93b7-5eddc056ad8a_story.html?noredirect=on&utm_term=.64b47ef144ef
						-->
					</div>
				</div>
				<div class="book_container">
					<div class="img_column">
						<a href="https://www.amazon.co.uk/Influence-Psychology-Robert-Cialdini-PhD/dp/006124189X">
							<img src="img/influence-of-persuasion.jpg" alt="Influence - The Psychology of Persuasion Cover Page"/>
						</a>
					</div>
					<div class="text_column">
						<a href="https://www.amazon.co.uk/Influence-Psychology-Robert-Cialdini-PhD/dp/006124189X" class="a_deco">
							<h3>Influence - The Psychology of Persuasion</h3>
						</a>
						<h4><i>by Robert B. Cialdini</i></h4>
						<p>
							This book is an amazing read for anyone who is trying to understand and answer questions as to why compliance professionals are able to sell you their ideas. Also, if you are inquisitive about Human Psychology and want to learn about numerous experiments & researches, this book contains plenty of them.
						</p>
						<!--
						https://medium.com/@mappmechanic/influence-the-psychology-of-persuasion-book-review-571f8588fd05
						-->
					</div>
				</div>
				<div class="book_container">
					<div class="img_column">
						<a href="https://www.amazon.com/Power-Habit-What-Life-Business-ebook/dp/B0055PGUYU">
							<img src="img/power-of-habit.jpg" alt="The Power of Habit Cover Page"/>
						</a>
					</div>
					<div class="text_column">
						<a href="https://www.amazon.com/Power-Habit-What-Life-Business-ebook/dp/B0055PGUYU" class="a_deco">
							<h3>The Power of Habit</h3>
						</a>
						<h4><i>by Charles Duhigg</i></h4>
						<p>
							Duhigg is optimistic about how we can put the science to use. &ldquo;Once you understand that habits can change,&rdquo; he concludes, &ldquo;you have the freedom - and the responsibility - to remake them. Once you understand that habits can be rebuilt, the power becomes easier to grasp, and the only option left is to get to work.&rdquo;
						</p>
						<!--
						https://www.nytimes.com/2012/03/11/books/review/the-power-of-habit-by-charles-duhigg.html
						-->
					</div>
				</div>
				<div class="book_container">
					<div class="img_column">
						<a href="https://www.amazon.co.uk/Thinking-Fast-International-Daniel-Kahneman/dp/0374533555">
							<img src="img/thinking-fast-and-slow.jpg" alt="Thinking Fast and Slow Cover Page"/>
						</a>
					</div>
					<div class="text_column">
						<a href="https://www.amazon.co.uk/Thinking-Fast-International-Daniel-Kahneman/dp/0374533555" class="a_deco">
							<h3>Thinking Fast and Slow</h3>
						</a>
						<h4><i>by Daniel Kahneman</i></h4>
						<p>
							It is an astonishingly rich book: lucid, profound, full of intellectual surprises and self-help value. It is consistently entertaining and frequently touching, especially when Kahneman is recounting his collaboration with Tversky.
							<!--
							https://www.nytimes.com/2011/11/27/books/review/thinking-fast-and-slow-by-daniel-kahneman-book-review.html
							-->
						</p>
					</div>
				</div>
				<div class="book_container">
					<div class="img_column">
						<a href="https://www.amazon.com/Habits-Highly-Effective-People/dp/1471131823">
							<img src="img/7-habits.jpg" alt="The 7 Habits of Highly Effective People Cover Page"/>
						</a>
					</div>
					<div class="text_column">
						<a href="https://www.amazon.com/Habits-Highly-Effective-People/dp/1471131823" class="a_deco">
							<h3>The 7 Habits of Highly Effective People</h3>
						</a>
						<h4><i>by Stephen R. Covey</i></h4>
						<p>
							It has been said that Covey's seven habits are merely common sense. On their own they may be, but put together in that sequence and with the philosophy of principle-centredness to support them, they can product the synergy that Covey celebrates. The 7 Habits gives readers the means for changing the little to transform the big.
							<!--
							http://citywire.co.uk/new-model-adviser/news/book-review-the-seven-habits-of-highly-effective-people-by-stephen-covey/a467559
							-->
						</p>
						<!--
						<div class="trolley_container">
							<a href="https://www.amazon.com/Habits-Highly-Effective-People-Powerful/dp/1451639619/ref=pd_sim_14_1?_encoding=UTF8&pd_rd_i=1451639619&pd_rd_r=01FDM4MF49CN5X77533H&pd_rd_w=RSRji&pd_rd_wg=DxalV&psc=1&refRID=01FDM4MF49CN5X77533H">
								<svg width="50px" height="50px" xmlns="http://www.w3.org/2000/svg">
									<?php// include 'img/trolley.html'; ?>
								</svg>
							</a>
						</div>
						-->
					</div>
				</div>
			</div>
		</div>
		
		{% include_relative js/nav_tab_js.html %}
		
		{% include header_js.html %}
		{% include footer.html %}
	</body>

</html>