<div class="footer_transition_container" id="footer_transition_container"></div>

<div class="footer_container">
	<div class="sm_container">
		<div class="sm_svg">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
				<a href="https://www.instagram.com/" target="_blank" class="a_deco">
					{% include img/footer/instagram.html %}
				</a>
			</svg>
		</div>
		<div class="sm_svg">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
				<a href="https://www.facebook.com/" target="_blank" class="a_deco">
					{% include img/footer/facebook.html %}
				</a>
			</svg>
		</div>
		<div class="sm_svg">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
				<a href="https://www.youtube.com/" target="_blank" class="a_deco">
					{% include img/footer/youtube.html %}
				</a>
			</svg>
		</div>
		<div class="sm_svg">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
				<a href="https://twitter.com/" target="_blank" class="a_deco">
					{% include img/footer/twitter.html %}
				</a>
			</svg>
		</div>
	</div>
	<div class="copy_container">
		&copy; 2018 The Social INC.
		<!--
			date_default_timezone_set("Europe/Dublin");
			echo "&copy; ".date("Y")." The Social INC.";
		-->
		&nbsp;|&nbsp;
		<a href="http://bryansng.github.io/thesocial/terms-and-conditions/" class="a_deco">
			TERMS & CONDITIONS
		</a>
		&nbsp;|&nbsp;
		<a href="http://bryansng.github.io/thesocial/privacy-policy/" class="a_deco">
			PRIVACY POLICY
		</a>
		&nbsp;|&nbsp;
		V1.0
	</div>
</div>
	