<div class="nav_tabs_container" id="nav_tabs_container">
	<a href="http://bryansng.github.io/thesocial/" class="nav_logo a_deco">
		<div class="logo_svg">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 362 418">
				{% include img/header/logo.html %}
			</svg>
		</div>
		<span class="logo_name">
			<!--THE&nbsp;&nbsp;S O C I A L-->
			<!--T H E S O C I A L-->
			T h e&nbsp;&nbsp; S o c i a l
		</span>
	</a>
	<div class="nav_tabs" id="nav_tabs">
		<a href="http://bryansng.github.io/thesocial/" class="a_deco" id="home">
			Home
		</a>
		<a href="http://bryansng.github.io/thesocial/articles/" class="a_deco" id="articles">
			Articles
		</a>
		<a href="http://bryansng.github.io/thesocial/store/" class="a_deco" id="store">
			Store
		</a>
		<a href="http://bryansng.github.io/thesocial/events/" class="a_deco" id="events">
			Events
		</a>
		<a href="http://bryansng.github.io/thesocial/booklist/" class="a_deco" id="booklist">
			Book List
		</a>
		<a href="http://bryansng.github.io/thesocial/contact/" class="a_deco" id="contact">
			Contact
		</a>
	</div>
	
	<!--
	<div class="small_nav_tabs" id="small_nav_tabs" onclick="burger_to_x(this)">
		<div class="bar1"></div>
		<div class="bar2"></div>
		<div class="bar3"></div>
	</div>
	-->
</div>




