---
---
<!DOCTYPE html>
<html lang="en">
	
	<head>
		{% include_relative resources.html %}
		<title>Why Meditate? - Changing your brain's default mode - The Social</title>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
	</head>
	
	<body>
		{% include header.html %}
		
		<!-- Intro from here
		-->
		<!-- Content from here
		-->
		<div class="content">
			<h1>
				Why Meditate? - Changing your brain's default mode
			</h1>
			<p>
				In the midst of being charged at by twenty masked men armed with rifles and explosives, Sally Adee was able to calmly and smoothly shoot down all of her attackers one by one.
			</p>
			<p>
				Sally didn't entirely grasp what had happened - from her perspective, the 20 minute skirmish lasted only a few moments, and when it was over, she aske "How many did I get?" Not realizing she had successfully taken down all 20 men.
			</p>
			<p>
				This was very impressive, considering Sally is not a sniper, but a journalist and this was only the second time she had been in a situation like this. After all, this took place in a battlefield simulator in a training facility for snipers.
			</p>
			<p>
				In Sally's first run on the simulator, she panicked, was overwhelmed by how many enemies there were and jammed her rifle several times. What made the difference was that in the second run, she had a transcranial direct-current stimulator strapped to her head. This is basically a helmet that runs an electrical current through your brain, with the aim of enhancing cognitive performance.
			</p>
			<p>
				In a February 2012 issue of New Scientist, Sally described being hooked up to the brain helmet as a "near-spiritual experience..." She said that "the thing that made the earth drop out from under my feet was that for the first time in my life, everything in my head finally shut up... There was suddenly this incredible silence in my head..." The purpose of the transcranial stimulator was actually to shortcut the subject into achieving an elusive mental state known as "flow" - a term popularized by Hungarian Psychologist Mihaly Csikszentmihalyi.
			</p>
			<p>
				It's a state of effortless concentration, optimal performance and, as Mihaly puts it, it's "the state in which people are so involved in an activity that nothing else seems to matter" and it usually occurs "when a person's body or mind is stretched to its limits in a voluntary effort to accomplish something difficult and worthwhile." This is something that may be experienced by an athlete during competition, a musician trying to nail a difficult piece, or even someone working on a project - trying to meet a deadline with only hours to spare.
			</p>
			<p>
				In his book titled "Flow," Mihaly describes how skilled people like artists, chess masters, and even surgeons, who, when sufficiently challenged, will literally lose their selves in the activity. Like Sally Adee, all data irrelevant to the task at hand, including the sense of self and the chatter in the head that comes with it, cease to exist. Unfortunately for us, the brain's default mode of operation is pretty much the opposite of this enjoyable state of high focus and high performance.
			</p>
			<p>
				fMRI studies have found that there is a set of brain regions known as the "task negative network" or the "default mode network" that are active whenever you aren't focused on anything in particular. This study is showing that the regions associated with the default mode network negatively correlate with task positive brain regions. Essentially, when you aren't focused on anything, there will be increased activity in the default mode network and less activity in the task positive regions, and the opposite is true when you are paying attention to something. The areas of the brain that belong to the default mode network are responsible for self-referencing, understanding other people's emotions, remembering the past, imagining the future, and general mind wandering.
			</p>
			<p>
				If you've seen the TV show Westworld, you may be familiar with the concept of the Bicameral Mind - this idea, presented in Julian Jaynes' 1976 book "The Origin of Consciousness in the Breakdown of The Bicameral Mind" says that until as recently as 3000 years ago, humans were simple automatons acting out the will of the gods, which was delivered to them via a voice in their heads. This isn't entirely different from how modern humans operate. Even people not afflicted by a mental illness will acknowledge that they have a voice in their heads, but it's not from the gods, it's their own voice saying "This shirt makes me look fat, I wonder if I'll ever get promoted?" "Eh, I bet my boss likes Jerry better than me" and "I can't believe that thing that was bad happened to me"
			</p>
			<p>
				The default mode network seems to be what is responsible for this annoying inner narrator. This narrator is known in some Eastern Traditions as the "Monkey Mind" - it's just as it sounds, an annoying, repetitive stream of information about yourself, how other people are thinking about you, and ruminations about the past and worries about the future.
			</p>
			<p>
				In the case of Sally Adee, her Monkey Mind finally shut up when she put on the transcranial cap on and went into the "flow" state. Maybe unsurprisingly, the default mode network is great at preventing flow.
			</p>
			<p>
				In a 2016 paper headed by Martin Ulrich, flow was induced by giving participants more and more challenging math puzzles. When the participants were in the flow state, there was less activation in both the medial prefrontal cortex and the posterior cingulate cortex - both of these regions are key nodes in the default mode network.
			</p>
			<p>
				Along with conditions like being sufficiently challenged, in order to enter the flow state, you need to be actively focused on a task for a long stretch of time. What's interesting is that, Electrocorticography studies have shown that the default mode network re-activates within an order of a fraction of a second after people disengage from a task - the monkey mind is ready to spring to action the moment you stop paying attention. Now, not being in the highly enjoyable, hyper focused flow state is one thing, but another consequence of default mode network induced mind wandering is simply a state of unhappiness.
			</p>
			<p>
				A 2010 paper by Matthew Killingsworth and Daniel Gilbert describes how they developed a smartphone app that would randomly ping people throughout the day to ask what they were doing and how happy they were. Based on almost a quarter of a million queries posed to about 5000 people from 83 different countries, they found that "people are thinking about what is not happening almost as often as they are thinking about what is" and "doing so typically makes them unhappy." The title of the paper is: "A wandering mind is an unhappy mind."
			</p>
			<p>
				So, what can we do about this? Well, Meditation has been shown to be a great way to lower activity in the default mode network and turn down the inner chatter that comes with it. Yale psychiatric professor Judson Brewer and his colleagues studied practitioners of several different meditation styles and found that their brain's Default Mode Network shows less activity. This was true of course during meditation, but there was less activity even when they weren't doing anything. With meditation, they actually changed their brain's standard mode of operation to be less distracted.
			</p>
			<p>
				This seems reason enough to meditate, but meditation has a an almost laughably long list of health benefits. It lowers your levels of stress hormones, lowers your blood pressure, boosts your immune system, mitigates depression, anxiety, ADHD, and age-related cognitive decline. It can even help with things like psoriasis and irritable bowel syndrome.
			</p>
			<p>
				After a while it sounds like one of those "doctors hate him!" advertisements that you see on the sidebar of a webpage, but there are hundreds of studies documenting these kinds of benefits.
			</p>
			<p>
				Tim Ferriss says: "More than 80% of the world-class performers I've interviewed have some form of daily meditation or mindfulness practice." he also says that "It is a 'meta-skill' that improves everything else."
			</p>
			<p>
				There are various types of meditation, but they mostly have one thing in common: they are improving your abilities of awareness and attention.
			</p>
			<p>
				William James said in his 1890 classic "The Principles of Psychology" that "The faculty of voluntarily bringing back a wandering attention, over and over again, is the very root of judgement, character, and will... An education which should improve this faculty would be the education par excellence."
			</p>
			<p>
				This skill of attention is even more important nowadays - our awareness is constantly being redirected by advertisements, emails and especially by a magical rectangle in our pockets. And it seems, that the more we unconsciously let our attention be directed and redirected, the less aware we become of the fact that it is happening.
			</p>
			<p>
				As Yuval Harari says in his book Homo Deus: "In ancient times having power meant having access to data. Today having power means knowing what to ignore."
			</p>
			<p>
				In general, most forms of meditation are helping you to develop something called mindfulness.
			</p>
			<p>
				As Jon Kabat-Zinn, creator of the Center for Mindfulness in Medicine, says: mindfulness is "paying attention in a particular way; on purpose, in the present moment, and nonjudgmentally."
			</p>
			<p>
				For example, a common method of meditation is to: Sit upright in a comfortable position and focus on the feeling of your breath. Then, when you notice that your mind has wandered, bring your attention back to the breath. Paying attention non-judgmentally means to pay attention only to the raw sensory data of the breath. Naturally, your inner narrator will have you think about things like whether you're breathing too fast, how much time has past and before you know it, you'll be thinking of the way Darth Vader breathes, James Earl Jones and... the Lion King. At this point, you should redirect your attention back to the breath.
			</p>
			<p>
				It can be annoying to notice that you were unsuccessful in maintaining your focus, but this is the whole point, this redirecting of attention is like a bicep curl for the brain.
			</p>
			<p>
				As Dan Harris, author of 10% Happier puts it: "You are breaking a lifetime habit of walking around in a fog, in a daydream of projection into the future and rumination into the past and you are actually focusing on what's happening right now."
			</p>
			<p>
				Not only this, meditation allows you to "sit" in the experiences of life without letting them control you. A straightforward example of this is pain. In a presentation, Kelly McGonigal is discussing a study led by Joseph Grant at the University of Montreal where they took experienced Zen meditators and non-meditators and inflicted them with the same type of pain - thermal heat, delivered via this thing strapped to their calf.
			</p>
			<!--
				width="1226" height="480"
			-->
			<iframe src="https://www.youtube.com/embed/jMsatDwx07o" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			<p>
				What the study found was that experienced meditators needed higher levels of heat in order to achieve the same level of pain. What these brain scans are showing is the difference between meditators and non-meditators while they are asked to attend normally to the pain. They aren't meditating, this is their brain's standard mode of operation. Non-meditators showed more activation in evaluative regions, regions associated with the default mode network and inner chatter. Meditators, however, showed more activation in sensory pain processing regions.
			</p>
			<p>
				There is more activity in areas of the brain that listen to pain, like the insula and the thalamus. And, the networks associated with paying attention to the pain and making commentary about the pain were functionally decoupled.
			</p>
			<p>
				What this means is that these regions were not firing together, as they normally do. So, the meditators can feel the pain with more clarity, but derive less suffering from it because they are attending to the pain non-judgmentally - they can examine the raw sensory data of the pain without coupling it to a dialogue about the pain.
			</p>
			<p>
				Sam Harris, author of the book "Waking Up" logically breaks this down in an interview with Joe Rogan: He gives the example of having a massive soreness in your shoulder from one of two situations: One, you're very sore because you hit a new personal best on deadlift, or the soreness might be the result of cancer and you're waiting for the biopsy results to confirm this.
			</p>
			<p>
				So, the sensation could be pleasant or unpleasant depending on the conceptual frame: the pain could be coupled with pride or intense anxiety. Being able to decouple sensation from your evaluating inner dialogue would be an incredibly useful skill.
			</p>
			<p>
				Viktor Frankl, the Austrian holocaust survivor and neurologist, said that "Between stimulus and response there is a space. In that space is our power to choose our response. In our response lies our growth and our freedom."
			</p>
			<p>
				One thing meditation does is it helps you to be comfortable sitting in this space.
			</p>
			<p>
				Judson Brewer gives an excellent example of this. He explains in a TEDMED talk based on a 2011 study of his that mindfulness training was twice as good as gold standard therapy at helping people quit smoking.
			</p>
			<p>
				The participants weren't even told that they couldn't smoke, they simply had to be mindful and curiously aware of the experience of smoking.
			</p>
			<p>
				As Brewer says of one participant: "What she discovered just by being curiously aware when she smoked was that smoking tastes like shit." More importantly, the participants were told to be as aware and mindful as they could about the sensation of craving a cigarette. They noticed that the experience of craving a cigarette was just body sensations - tightness, tension, restlessness, and they learned to detach themselves from this.
			</p>
			<p>
				In fact, the default mode network seems to directly stimulate emotional reactivity. Emotional reactivity causes people to for example act on cravings. When someone is craving a cigarette, there is a lot more activity in the posterior cingulate cortex, a major node in the default mode network of the brain.
			</p>
			<p>
				So, by toning down the default mode network and its inner chatter, meditation allows you to better focus your attention to your experiences and be OK with not acting on every uncomfortable feeling in your body. Just because you're irritable doesn't mean you must have a cigarette, just because you're hungry right now doesn't mean you need to eat low health high convenience foods, and you don't need to respond to every slight feeling of boredom by checking your phone all the time.
			</p>
			<p>
				If you spend some time sitting in the space between stimulus and response, you'll notice that space is only as uncomfortable as your inner narrator makes it.
			</p>
			<p>
				Going back to Mihaly Csikszentmihalyi's book "Flow," he says that by developing an "autotelic self," one is far more likely to enjoy life rather than be overwhelmed by it. He says that the "'autotelic self' is one that easily translates threats into enjoyable challenges, ...is never bored, seldom anxious, involved in what goes on, and [is] in [the state of] flow most of the time."
			</p>
			<div class="list_content_container">
				<p>
					He provides 4 rules for developing such a self:
					<!-- The first is setting goals, then the next three all sound like a version of mindfulness: Becoming immersed in activities, paying attention to what is happening, and learning to enjoy immediate experience. -->
				</p>
				<ol type="1">
					<li>Setting Goals</li>
					<li>Becoming Immersed in activities</li>
					<li>Paying Attention to what is happening</li>
					<li>Learning to Enjoy immediate experience</li>
				</ol>
			</div>
		</div>
		
		{% include articles/js/nav_tab_js.html %}
		
		{% include header_js.html %}
		{% include footer.html %}
	</body>

</html>