---
---
<!DOCTYPE html>
<html lang="en">
	
	<head>
		{% include_relative resources.html %}
		<title>Coming Soon - Talk to Anyone - The Social</title>
		<link rel="stylesheet" type="text/css" href="../../coming-soon/css/coming-soon.css"/>
	</head>
	
	<body>
		{% include header.html %}
		
		<div class="background_img"></div>
		<div class="middle_text">
			<h1>COMING SOON</h1>
			<hr>
			<p id="countDownTime">Time</p>
		</div>
		{% include events/coming-soon/js/countDownTime_js.html %}
		
		{% include events/js/nav_tab_js.html %}
		
		{% include header_js.html %}
		{% include footer.html %}
		{% include events/coming-soon/js/removeTransitionContainer_js.html %}
	</body>

</html>