.content{
	padding: 40px 200px;
}

.content h1{
	padding: 40px 0;
	font-family: 'articlesFont';
}

.content h3{
	padding-bottom: 15px;
	font-family: 'articlesFont';
}

.content p{
	font-family: 'articlesFont';
	padding-bottom: 40px;
}

@font-face{
	font-family: 'articlesFont';
	src: url('../../../../fonts/Helvetica.ttf');
}

