<script>
	// NOTE: This script doesn't take rowspan into account.
	function searchTable(){
		var input, filter, table, tr, th, i;
		
		input = document.getElementById("search_table_input");
		filter = input.value.toUpperCase();
		table = document.getElementById("program_table");
		tr = table.getElementsByTagName("tr");
		
		// Loop through all table rows, and hide those who don't match the search query.
		for (i = 0; i < tr.length; i++){
			td = tr[i].getElementsByTagName("td")[0];
			
			if (td){
				if (td.innerHTML.toUpperCase().indexOf(filter) > -1){
					tr[i].style.display = "";
				}
				else{
					tr[i].style.display = "none";
				}
			}
		}
	}
</script>